body{
    background-image: url("../img/avatar-the-way-of-water-5k-fo-1920x1080.jpg");
}

body>header>h1{
   text-align:center;
   padding-top: 1em;
   color:rgb(109, 91, 91);
   font-family:'Space Grotesk', sans-serif;
   font-size: 3em;
   
}

.link{
    color: rgb(109, 91, 91);
    text-decoration: none;
}
body>header>p{
    text-align:center;
    color:rgb(141, 38, 38);
    font-family:'Space Grotesk', sans-serif;
    font-style: italic;
    margin: -1em;
 }

body>section{
    text-align: center;
    color: rgb(255, 106, 106);
    padding-top: 2em;
    font-style: italic;
}
body>section>p{
    font-size: 1em;
    font-style: italic;
}

body>section:nth-child(3){
    font-style: normal;
    color: rgb(246, 61, 154);

}

body>section:nth-child(4){
    font-style: normal;
    color: rgb(50, 15, 106);

}

.grids{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    /* background-color: #2196F3; */
    padding: 0px;
    gap: 10px;
}
body>footer>p{
    color: rgb(0, 0, 0);
    text-align: center;
}
/* body>footer>div{
    
    padding: 10px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: blue;
    color: aliceblue;
  } */

